
<div class="jumbotron">
	<h1>Scrape Some News!</h1>
	<button class="btn btn-primary" id="scrape">Scrape that news!</button>

</div>


<div class="container">
	<div class="row" id="lists">
		<div class="col-md-12" id="headlines">
				<h2 class="text-center">Current News</h2>
		
				{{#each headline}}
					<div class="card">
						<div class="card-header">
							<a href={{link}}>{{title}}</a>
						</div>
						<div class="card-body" id={{_id}}>
							{{summary}}<br>
							<button class="btn btn-warning comment-open">Comment</button> 
						</div>	


					</div>		
					<br>

				{{/each}}

		</div>
	</div>


	<div class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<ul class="comment-list"></ul>
	      </div>
	      <div class="modal-footer">
	        <label for="commentText">Leave a comment</label>
   			<textarea class="form-control"  id="commentText" rows="3"></textarea>
 
	        <button type="button" class="btn btn-primary comment">Send</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>



</div>	

